.auth_page {
  min-height: 100vh;
  background: radial-gradient(circle at top, #2a475e 0, #171a21 55%, #0b141c 100%);
  color: #c7d5e0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.auth_card {
  max-width: 110vh;
  margin: 5vh auto;
  padding: 2vh;
  padding-left: 4vh;
  padding-right: 4vh;
  background: linear-gradient(145deg, #1b2838 0%, #101822 100%);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.6);
  border: 1px solid #101721;
}

.auth_breaker{
     display: flex;
    max-width: 110vh;
    margin: 0 auto;
    /* margin-bottom: 0; */
    /* padding: 2vh; */
    /* padding-left: 4vh; */
    /* padding-right: 4vh; */
    /* background: linear-gradient(145deg, #1b2838 0%, #101822 100%); */
    /* box-shadow: 0 18px 40px rgba(0, 0, 0, 0.6); */
    /* border: 1px solid #101721; */
    align-items: center;
    justify-content: space-around;

}

.auth_header {
  border-bottom: 1px solid #2b3745;
  padding-bottom: 2vh;
  margin-bottom: 3vh;
}

.auth_header h1 {
  font-size: 1.5em;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
}

.auth_headerSubtitle {
  margin: 0;
  font-size: 1em;
  color: #8f98a0;
}

.auth_message {
    margin-bottom: 2vh;
    /* padding: 2vh; */
    border-radius: 10vh;
    background: rgb(96 38 38 / 85%);
    /* border: 1px solid #f46698; */
    font-size: 1em;
    padding: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
}

.auth_formContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}

.auth_formRow {
  display: flex;
  flex-direction: column;
}

.auth_formContainer label {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #acb2b8;
  margin-bottom: 1vh;
}

.auth_formContainer input,
.auth_formContainer select,
.auth_formContainer textarea {
  background: #0f151c;
  border: 1px solid #3b4250;
  padding: 1vh;
  font-size: 1em;
  color: #e5e5e5;
}

.auth_formContainer input::placeholder,
.auth_formContainer textarea::placeholder {
  color: #66717f;
}

.auth_formContainer input:focus,
.auth_formContainer select:focus,
.auth_formContainer textarea:focus {
  border-color: #66c0f4;
  box-shadow: 0 0 0 1px rgba(102, 192, 244, 0.3);
  background: #111822;
}

.auth_formActions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1vh;
}

.auth_formBtn {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;

  border: none;
  border-radius: 0.5vh;
  cursor: pointer;

  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 500;
  transition: background 0.15s ease, filter 0.15s ease, transform 0.1s ease;
}

.auth_formBtnPrimary {
  background: linear-gradient(90deg, #50ff476e 0%, #1aff2d91 60%, #3bff197f 100%);
  color: white;
}
